/*
    title and subtitle styling
*/
.title_sub{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.title{
    font-size: 50px;
    color: white;
    margin-bottom: 0.5%;
}

.subtitle{
    width: 100%;
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 17px;
    margin-bottom: 1%;
}

.check_git{
    color: white;
}

.github{
    align-self: center;
    margin-left: 1%;
}
/*
    Carousel
*/
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 2px solid white;
  background-color: black;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: gold;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: gray;
}

/* Caption text */
.text {
  color: white;
  font-size: 17px;
  width: 20%;
  text-align: center;
  margin-left: 5%;
  align-self: center;
  text-justify: distribute;
  display: flex;
  flex-direction: column;
}

/* Number text (1/3 etc) */
.numbertext {
  color: gold;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 0.5s;
  animation-name: fade;
  animation-duration: 0.5s;
}

@-webkit-keyframes fade {
  from {opacity:0.5;}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity:.5}
  to {opacity: 1}
}

.row_style{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

button{
  background-color: white;
  cursor: pointer;
  margin-top: 10%;
  color: black;
}

#but_text{
  color: black;
}
