{% extends 'base.html' %}

{% block head %}
    <link rel= "stylesheet" href= "{{ url_for('static',filename='styles/contact.css') }}">
    <title>Contact</title>
{% endblock %}

{% block body %}
    <div class="title_sub">
        <h2 class="title"> - Contact me - </h2>
    </div>

    <div class="container">



    <div class="contact_info">
        <div class="send_email">
            <form>
                <div class="form-group">
                    <input type="email" class="form-control" id="input_email" aria-describedby="emailHelp" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" id="input_password" placeholder="Subject">
                </div>
                <div class="form-group">
                    <textarea class="form-control" id="message" placeholder="Enter your message" rows="8"></textarea>
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </div>

        <div class="socials">
{#            <ul class="list-unstyled">#}
{#                <li><#}
                    <div class="labelContainer">
                        <div class="labelDiv iconDiv">
                            <span class="fa-icon">
                                <i class="fa fa-at"></i>
                            </span>
                        </div>
                        <div class="labelDiv labelTextDiv">
                            <a href="mailto:hello@gmail.com" class="city">hello@gmail.com</a>
                        </div>

                    </div>
{#                </li>#}
{#                <li>#}
                    <div class="labelContainer">
                        <div class="labelDiv iconDiv">
                            <span class="fa-icon">
                                <i class="fa fa-map-marker"></i>
                            </span>
                        </div>
                        <div class="labelDiv labelTextDiv">
{#                            <p class="city">Vancouver, BC</p>#}
                            <span class="city">Vancouver, BC</span>
                        </div>
                    </div>

{#                </li>#}
{#            </ul>#}

{#            <ul class="list-unstyled connect">#}
{#                <li>#}
                    <h4 class="contact_subtitle">Connect here:</h4>
{#                </li>#}
{#                <li>#}
                    <a href="http://www.github.com/" class="fa-icon">
                        <i class="fa fa-github"></i>
                    </a>
                    <a href="http://www.linkedin.com/" class="fa-icon">
                        <i class="fa fa-linkedin"></i>
                    </a>
{#                </li>#}
{#            </ul>#}
        </div>
    </div>
    </div>
{% endblock %}